<ul>
  <% @polls.each do |poll| %>
    <li><%= link_to poll.name, poll %>
    <% if user_signed_in? %>
      [<%= link_to "results", poll_results_path(poll) %>]
    <% end %>
    </li>
  <% end %>
</ul>
